.header {
    padding: 30px 0;
    text-align: center;
    height:100vh;

}

.header .profile-content .name {
    padding-top: 2%;
    margin-bottom: 5px;
    /* margin-top: 30px; */
    /* color: rgba(255, 255, 255, 0.9); */

}

.header .profile-content .desc {
    text-align: justify;    
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    /* color: rgba(255, 255, 255, 0.7); */
}

.header .btn {
    font-weight: bold;
}
  
.header .profile-image {
    text-align: center;
    margin-right: 30px;
}

.coder{
    padding-top: 10%;
   
}
.dark-mode-switch {
    margin-bottom: 1rem;
    color: inherit;
}

.dark-mode-switch label {
    /* font-size: 0.875rem; */
    font-weight: bold;
    color: inherit;

}


.social a {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
  }
  
  .social a:hover {
    background: black;
    transform: scale(1.5);
  }
    

  
  .social .list-inline {
    display: inline;
    padding-right: 1%;
  }
  
  .social .list-inline .fab,.social .list-inline .fas,
  .social .fab, .social .fas {
    font-size: 20px;
    margin-top: 8px;
  }

  .hero{
    margin: 0 auto;
    float: none;
    text-align: center;
    /* border: 20px rgba(37, 37, 37, 0); */
    border-radius: 50%; 
}