.section-inner, .card-reveal{
    color: inherit;
    background-color: inherit;
}
.card-reveal{
    color: inherit !important;
    background: #1e2124 !important;
}

.section-inner:hover{
    transform: scale(1.2);
}

