.skill .name{
    float: left;
    color: #545e69;
    font-weight: bold;
}
.skill .level{
    float: right;
    color: #545e69;
}
.skill .progress{
    min-height: 10px;
}

body[data-theme="dark"] .skill .name, body[data-theme="dark"] .skill .level{
    color: rgba(255, 255, 255, 0.9);
}