.navbar {
    background: #DAE3E7;
    color: black ;
}
.navbar .brand-logo{
    background: inherit;
    color: inherit;
    padding-left: 10%;
}
.navbar .sidenav-trigger  {
    background: inherit;
    color: inherit;
}
.navbar .hide-on-med-and-down .nav-item{
    background: inherit;
    color: inherit;
}
body[data-theme="dark"] .navbar {
    background: black;
    color: white ;
}