body {
	background: #c2d9f0;
	font-family: "Lato", arial, sans-serif;
}
section {
	margin-top: 10px;
	margin-bottom: 0px;
}
.section-title {
	padding-bottom: 3%;
	padding-top: 5%;
}
.fixed-action-btn {
	bottom: 20px;
	right: 20px;
}
:root {
	color-scheme: light;
}
