.body[data-theme="dark"]{
    background: black;
    color: white ;
    font-family: "Lato", arial, sans-serif;
}
body{
    background: black;
    color: white ;
    font-family: "Lato", arial, sans-serif;

}