.footer{
    background-color: #a8bed3;
    padding-bottom: 2%;
}

.footer-desc{
    padding-top: 0%;

}
.divider-top{
    padding-top: 0%;

}

.social .icon {
	width: 36px;
	height: 36px;
	display: inline-block;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #000000;
	text-align: center;
}

.social .icon:hover {
	background: #92c8ff;
	transform: scale(1.5);
}

.social .list-inline {
	display: inline;
	padding-right: 1%;
}

.social .list-inline .fab,
.social .list-inline .fas,
.social .fab,
.social .fas {
	font-size: 20px;
	margin-top: 8px;
}


