.intro-desc{
    word-spacing: 5px;
    line-height: 1.5;
}
.job-desc{
    word-spacing: 5px;
    padding-top: 2%;
    line-height: 1.5;
    padding-bottom: 2%;
}
.skills{
    padding-bottom: 5%;
}

.skills .col:hover{
    transform: scale(1.5);
}

.btn {
    font-weight: bold;
}


@media screen and (max-width: 600px) {
	.skills .col {
		max-width: calc(33.33%);
		max-height: calc(33.33%);
/* 
        min-width: calc(50%);
		min-height: calc(50%); */
	}

     
}